node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/downloads/
/dist/
*.tgz

### IntelliJ IDEA ###
.idea/**/*
!.idea/runConfigurations
!.idea/runConfigurations/**/*
!.idea/codeStyles/**/*
!.idea/inspectionProfiles/**/*
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### ENV VARS ###
.env

# =========================
# SSH keys (DO NOT COMMIT)
# =========================
**/.ssh/
*.pem
*.ppk
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
known_hosts
authorized_keys


### MacOS ###
.DS_Store
